.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/naslovnaNova.jpg") no-repeat center center/cover;

    min-height: 100vh;
    color: #fff;
    padding-top: $min-nav-height;

    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);

    @include flexCenter;
    flex-direction: column;

    &__content {
        margin-top: 4.5rem;
        letter-spacing: 2px;
        min-height: 40rem;
        font-size: 6rem;
        font-family: var(--ff-header);
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
        position: relative;
        top: 5rem;


        will-change: transform;
        backface-visibility: hidden;

        @include flexCenter;
        flex-direction: column;
        justify-content: space-around;

        span {
            animation-duration: 1.2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: backwards;
            text-transform: uppercase;

            @for $i from 1 to 3 {
                &:nth-child(#{$i}) {
                    animation-delay: (calc(0.70 * #{$i}s));
                }
            }

            &:nth-child(odd) {
                animation-name: moveInRight;
            }

            &:nth-child(even) {
                animation-name: moveInLeft;
            }
        }
    }

    &__cta {
        display: inline-block;
        text-align: center;
        letter-spacing: 1.1px;
        font-size: 2rem;
        margin-top: 6.5rem;
        text-transform: uppercase;
        padding: 0.5rem;
        border-bottom: 2px solid var(--clr-primary-dark);
        transition: 0.3s ease;
        will-change: transform;

        @include respond(xxl-desktop) {
            margin-top: 5rem;
        }

        &:hover {
            transform: translateY(-3px);
        }

        &:active {
            transform: translateY(1px);
        }
    }
}