*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    color: var(--clr-primary-dark);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(xxl-desktop) {
        font-size: 75%;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}


body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    height: 100vh;
    // background: $gradient-primary no-repeat;
    color: #333;
    font-family: var(--ff-body);
    overflow-x: hidden;

    display: grid;
    grid-template-rows: auto 1fr auto;

    @include respond(phone) {
        font-size: 2rem;
    }
}

.glightbox-open {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: auto;
    touch-action: auto;
    height: auto
}

a {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.2;
}

p,
blockquote {
    max-width: 50ch;
    font-size: 1.8rem;

    @include respond(tab-land) {
        font-size: 2.1rem;
    }
}