.grid {
    &--4x1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(phone) {
            grid-template-columns: 1fr;
        }
    }
}

main {
    background-color: var(--clr-grey-light-1);
    color: var(--clr-grey-dark-4);
    margin-top: -20rem;
}

.section {
    &-about {
        margin: 8rem 0;

        @include respond(tab-port) {
            margin: 8rem 0 30rem;
        }


        &__info {
            @include flexCenter;
            flex-direction: column;
            justify-content: space-between;

            @include respond(tab-land) {
                min-height: 40vw;
            }

            &--text {
                margin-bottom: 4.5rem;
                margin-right: 5rem;
            }

            &--btn {
                align-self: flex-end;

                @include respond(tab-port) {
                    align-self: center;
                }

                @include respond(phone) {
                    align-self: baseline;
                }
            }
        }

        &__images {
            position: relative;

            @include respond (tab-port) {
                margin-top: 20rem;
            }

            .image {
                @include posAbsCenter;
                width: 55%;
                max-width: 100%;
                display: block;
                object-fit: cover;
                border-radius: 12px;
                outline: 4px solid transparent;
                transition: 0.2s;
                box-shadow: 0 1.5rem 4rem hsla(0, 0%, 0%, 0.4);
                will-change: outline;
                backface-visibility: hidden;

                @include respond(tab-port) {
                    width: 40%;
                }

                @include respond(phone) {
                    outline: 2px solid transparent;
                }

                &-1 {
                    left: 25%;
                    top: 0rem;

                    @include respond(phone) {
                        left: 20%;
                        top: 5rem;
                    }
                }

                &-2 {
                    right: 0;
                    top: 12.5rem;

                    @include respond(tab-port) {
                        top: 6.5rem;
                    }

                    @include respond(phone) {
                        right: 75%;
                        top: 0;
                    }
                }

                &-3 {
                    left: 80%;
                    top: 25rem;

                    @include respond(tab-land) {
                        left: 70%;
                    }

                    @include respond(tab-port) {
                        left: 75%;
                        top: 10rem;
                    }

                    @include respond(phone) {
                        top: -6rem;
                    }
                }

                &:hover,
                &:active {
                    outline-offset: 3px;
                    outline: 4px solid var(--clr-primary-light);
                    z-index: 1;
                    box-shadow: .75rem 2.25rem 5rem 3px hsla(0, 0%, 0%, 0.4);
                    transform: translate(-50%, -50%) scale(1.05);
                    filter: saturate(1.2);

                    @include respond(phone) {
                        outline: 2px solid var(--clr-primary-light);
                    }
                }
            }
        }
    }

    &-technology {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/krovnaPergola2.jpg") no-repeat center 75%/cover;
        background-attachment: fixed;
        color: #fff;
        min-height: 100vh;
        position: relative;

        @include respond(tab-port) {
            margin-top: 8rem;
        }

        @include respond(phone) {
            margin-top: 0;
        }
    }

    &-3d {
        &__heading {
            font-size: 4.2rem;
            text-align: center;
            font-weight: 400;
            margin-bottom: 2.2rem;
            letter-spacing: 1.4px;

            &--decoration {
                color: var(--clr-primary-dark);
            }
        }

        &__info {
            font-size: 1.6rem;
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 8rem;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &__images {
            margin-bottom: 6rem;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                max-height: 44rem;
                box-shadow: .4rem .4rem 1.2rem .4rem var(--clr-grey-light-4);
            }
        }
    }

    &-gallery {
        &__heading {
            text-transform: uppercase;
            letter-spacing: 2.4px;
            text-align: center;
            color: transparent;
            background: linear-gradient(to right, var(--clr-primary), var(--clr-primary-dark));
            background-clip: text;
            font-size: 4.5rem;
            font-weight: 700;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            justify-content: center;
            gap: 4rem;

            @include respond(tab-port) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include respond(phone) {
                grid-template-columns: 1fr;
            }

            // @include respond(xxl-desktop) {
            //     grid-template-columns: repeat(3, 1fr);
            // }

            img {
                max-width: 100%;
                max-height: 62.5rem;
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: 0.4s ease;
                will-change: transform;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.03);
                    filter: saturate(1.2);
                }

                @include respond(phone) {
                    max-height: 75rem;
                }
            }
        }

        &__modal {
            position: fixed;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            transition: 0.3s ease;
            opacity: 0;
            min-height: 100vh;
            overflow: scroll;

            &.open {
                opacity: 1;
                z-index: 999;
            }


            .close-btn {
                position: absolute;
                top: 10rem;
                right: 5rem;
                font-size: 5rem;
                color: #fff;
                background: transparent;
                border-color: transparent;
                cursor: pointer;

                @include respond(tab-port) {
                    right: 2rem;
                    top: 15rem;
                }

                @include respond(phone) {
                    right: 1.15rem;
                    font-size: 4rem;
                }
            }

            &--content {
                width: 80%;
                max-width: var(--max-width);
                margin: 0 auto;
                margin-top: 10rem;
                position: relative;
                padding-bottom: 5rem;

                @include respond(tab-port) {
                    margin-top: 15rem;
                }

                .main-img {
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                    min-width: 100%;
                    max-height: 80rem;
                    object-fit: cover;
                    border-radius: 8px;
                    object-position: center;
                }

                .image-name {
                    text-align: left;
                    margin: 2rem 0 4.5rem;
                    color: #fff;
                    font-size: 2.1rem;
                    min-width: 100%;
                    padding: 0 1.5rem;
                }

                .modal-images {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                .modal-img {
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &.selected {
                        opacity: 1;
                    }
                }

                .next-btn,
                .prev-btn {
                    position: absolute;
                    top: 25%;
                    transform: translateY(-50%);
                    background: transparent;
                    font-size: 4rem;
                    color: var(--clr-white);
                    border-color: transparent;
                    cursor: pointer;
                    color: #fff;
                }

                .prev-btn {
                    left: -6rem;

                    @include respond(phone) {
                        left: -4rem;
                    }
                }

                .next-btn {
                    right: -6rem;

                    @include respond(phone) {
                        right: -4rem;
                    }
                }
            }
        }

    }
}