.grid {
    &--4x1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(phone) {
            grid-template-columns: 1fr;
        }
    }
}

main {
    background-color: var(--clr-grey-light-1);
    color: var(--clr-grey-dark-4);
    margin-top: -20rem;
}

.section {
    &-about {
        margin: 8rem 0;

        @include respond(tab-port) {
            margin: 8rem 0 30rem;
        }


        &__info {
            @include flexCenter;
            flex-direction: column;
            justify-content: space-between;

            @include respond(tab-land) {
                min-height: 40vw;
            }

            &--text {
                margin-bottom: 4.5rem;
                margin-right: 5rem;
            }

            &--btn {
                align-self: flex-end;

                @include respond(tab-port) {
                    align-self: center;
                }

                @include respond(phone) {
                    align-self: baseline;
                }
            }
        }

        &__images {
            position: relative;

            @include respond (tab-port) {
                margin-top: 20rem;
            }

            .image {
                @include posAbsCenter;
                width: 55%;
                max-width: 100%;
                display: block;
                object-fit: cover;
                border-radius: 12px;
                outline: 4px solid transparent;
                transition: 0.2s;
                box-shadow: 0 1.5rem 4rem hsla(0, 0%, 0%, 0.4);
                will-change: outline;
                backface-visibility: hidden;

                @include respond(tab-port) {
                    width: 40%;
                }

                @include respond(phone) {
                    outline: 2px solid transparent;
                }

                &-1 {
                    left: 25%;
                    top: 0rem;

                    @include respond(phone) {
                        left: 20%;
                        top: 5rem;
                    }
                }

                &-2 {
                    right: 0;
                    top: 12.5rem;

                    @include respond(tab-port) {
                        top: 6.5rem;
                    }

                    @include respond(phone) {
                        right: 75%;
                        top: 0;
                    }
                }

                &-3 {
                    left: 80%;
                    top: 25rem;

                    @include respond(tab-land) {
                        left: 70%;
                    }

                    @include respond(tab-port) {
                        left: 75%;
                        top: 10rem;
                    }

                    @include respond(phone) {
                        top: -6rem;
                    }
                }

                &:hover,
                &:active {
                    outline-offset: 3px;
                    outline: 4px solid var(--clr-primary-light);
                    z-index: 1;
                    box-shadow: .75rem 2.25rem 5rem 3px hsla(0, 0%, 0%, 0.4);
                    transform: translate(-50%, -50%) scale(1.05);
                    filter: saturate(1.2);

                    @include respond(phone) {
                        outline: 2px solid var(--clr-primary-light);
                    }
                }
            }
        }
    }

    &-technology {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/krovnaPergola2.jpg") no-repeat center 75%/cover;
        background-attachment: fixed;
        color: #fff;
        min-height: 100vh;
        position: relative;

        @include respond(tab-port) {
            margin-top: 8rem;
        }

        @include respond(phone) {
            margin-top: 0;
        }
    }

    &-3d {
        &__heading {
            font-size: 4.2rem;
            text-align: center;
            font-weight: 400;
            margin-bottom: 2.2rem;
            letter-spacing: 1.4px;

            &--decoration {
                color: var(--clr-primary-dark);
            }
        }

        &__info {
            font-size: 1.6rem;
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 8rem;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &__images {
            margin-bottom: 6rem;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                max-height: 44rem;
                box-shadow: .4rem .4rem 1.2rem .4rem var(--clr-grey-light-4);
            }
        }
    }

    &-gallery {
        &__heading {
            text-transform: uppercase;
            letter-spacing: 2.4px;
            text-align: center;
            color: transparent;
            background: linear-gradient(to right, var(--clr-primary-light), var(--clr-primary-dark));
            background-clip: text;
            font-size: 4.5rem;
            font-weight: 700;
        }
    }
}