.container {
    max-width: $website-width;
    margin: 0 auto;
    // overflow: hidden;
}

.section-heading {
    display: inline-block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 auto 4rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
        @include underline;
    }
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    white-space: nowrap;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1.2px;
    min-width: 25%;
    max-width: min-content;

    &--bordered {
        border: 1px solid var(--clr-primary);
        border-radius: 6px;
    }

    &--block {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    &--underlined {
        position: relative;
        padding: 1.2rem 1.6rem;
        color: var(--clr-grey-dark-4);
        z-index: 1;
        transition: 0.2s ease;
        will-change: transform;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 100%;
            z-index: -1;
            border: none;
            outline: none;
            box-shadow: 4px 4px 6px 2px var(--clr-grey-light-4);
            border-radius: 8px;
            transition: 0.2s ease;
        }

        &::after {
            @include underline;
            height: 1px;
            width: 100%;
            margin: 0 auto;
            z-index: -1;
        }

        &:hover,
        &:active {
            color: var(--clr-primary-dark);

            &::before {
                box-shadow: 6px 6px 9px 3px var(--clr-grey-light-4);
            }
        }
    }
}

.split-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }
}