.container {
    max-width: $website-width;
    margin: 0 auto;
    // overflow: hidden;
}

.section-heading {
    display: inline-block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 auto 4rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
        @include underline;
    }

    &--white {
        color: #fff;
    }

    @include respond(phone) {
        font-size: 3.8rem;
    }
}

.black-heading {
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-size: 3.8rem;
    margin-bottom: 2.5rem;
    letter-spacing: 1.2px;

    &--xl {
        @extend .black-heading;
        font-size: 4.4rem;
    }
}

.family-mono {
    font-family: "Roboto Mono";
}

.section-padded {
    padding: 30rem 5vw 15rem;

    @include respond(tab-port) {
        padding: 20rem 5vw 5rem;
    }

    &--small {
        padding: 12.5rem 5vw 7.5rem;

        @include respond(tab-port) {
            padding: 7.5rem 5vw;
        }
    }
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 5px;

    white-space: nowrap;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    min-width: 25%;
    max-width: min-content;
    will-change: transform;
    transition: 0.3s ease;
    box-shadow: 0.4rem 0.4rem 1.5rem 0.4rem var(--clr-grey-light-2);

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0.6rem 0.6rem 2.2rem 0.2rem var(--clr-grey-light-4);
    }

    &:active {
        transform: translateY(1px);
    }

    // &--bordered {
    //     border: 1px solid var(--clr-primary);
    //     border-radius: 6px;
    // }

    &--block {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    &--link {
        text-transform: capitalize;
        padding: 1.2rem 0.9rem;
        position: relative;

        @include respond(phone) {
            padding: 1.4rem 2.2rem;
        }
    }

    &--white {
        background: #fff;
        border-radius: 12px;
    }

    &--black {
        color: #fff !important;
        background-color: var(--clr-primary-dark);
        text-transform: uppercase;
    }
}

.split-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.skew-left {
    clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);

    &--dark {
        background-color: var(--clr-grey-dark-2);
    }
}

.scroll-margin-offset {
    scroll-margin-top: 24px;
}

.lazy-img,
.lazier-img {
    filter: blur(5px);
}


.g {
    @for $i from 1 to 5 {
        &-#{$i} {
            gap: #{$i}rem;
        }
    }
}

.p {
    @for $i from 1 to 5 {
        &y {
            &-#{$i} {
                padding: #{$i}rem 0;
            }
        }
    }
}

.m {
    @for $i from 1 to 10 {
        &b {
            &-#{$i} {
                margin-bottom: #{$i}rem;
            }
        }

        &y {
            &-#{$i} {
                margin-top: #{i}rem;
                margin-bottom: #{i}rem;
            }
        }
    }

    // &b {
    //     &-4 {
    //         margin-bottom: 10rem;
    //     }
    // }
}